body{
    font-family: 'Raleway', sans-serif;
    margin: 0em;
    text-align: center;
}

li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.background{
    position: absolute;
    z-index: -1;
}

#c1{
    position: absolute;
    z-index: 1;
    top: -10vh;
    left: -10vw;
}

#c2{
    position: absolute;
    z-index: 1;
    top: 200vh;
    left: 40vw;
}

#c3{
    position: absolute;
    z-index: 1;
    top: 600vh;
    left: 30vw;
    opacity: 60%;
}

#c4{
    position: absolute;
    z-index: 1;
    top: 670vh;
    left: 75vw;
    opacity: 40%;
}

.backImg{
    visibility: visible;
}

.backImg img{
    width: 100vw;
    position: absolute;
    left: 0;
    visibility: visible;
}

.backImg2{
    visibility: hidden
}

.backImg2 img{
    width: 100vw;
    position: absolute;
    left: 0;
    visibility: hidden;
}

/* .rect{
    width: 62.5vw;
    height: 400vh;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
} */

.header{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    top: 1vh;
    position: relative;
    z-index: 5;
}

.leftside{
    display: flex;
    padding-left: 2vw;
    align-items: center;
}

.logo img{
    width: 6.4583vw;
}

.medkit{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: relative;
    padding-top: .5vh;
    padding-left: 2vw;
    color: #094972;
}

.medkit p{
    margin: 0;
}

.rightside{
    display: flex;
    color: #F05F62;
    position: relative;
    padding-right: 2vw;
}

.rightside div{
    margin: 5vh 2vw;
    position: relative;
    top: 2vh;
}

.access1{
    border: 1px solid #F05F62;
    border-radius: .3vw;
    height: 3.5vh;
    padding: 0 .2vw;
}

.access1 a{
    margin-top: .25vh;
}

.container{
    width: 62.5vw;
    height: 660vh;
    margin: 0 auto;
    align-content: center;
    z-index: 4;
}

.lander{
    height: 121vh;
    color: #FAF3DE;
}

.girl img{
    height: 110.73170731707317vh;
    position: relative;
    top: -20vh;
    padding-left: calc(38.39517361111111vw/9.9);
}

.text{
    position: relative;
    text-align: center;
    align-items: center;
    top: -75vh;
}

.medkit2{
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.downloadButton{
    display: flex;
    border: 1px solid #FAF3DE;
    border-radius: .3vw;
    width: 22.5694vw;
    align-items: center;
    color: #FAF3DE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.access2{
    padding: .5vw;
}

.arrow{
    padding-left: 7vw;
}

.read{
    margin-top: 20vh;
}

.access2 p{
    margin: 0em;
}

.mags{
    justify-content: space-between;
    display: flex;
    margin-top: 7vh;
}

#EF{
    padding-top: 1vh;
}

.infoHub{
    position: relative;
    text-align: center;
    align-items: center;
    color: #FAF3DE;
    margin-bottom: 15vh;
}

.hearing{
    height: 7vh;
}

.blogPlug{
    text-align: left;
    display: flex;
}

.blogImg img{
    width: 31.94vw;
}

.blogText div{
    margin-bottom: 17vh;
    margin-left: 3.125vw;
}

.blogText p{
    margin: 0%;
}

.healthSpot{
    height: 240vh;
}

.keep{
    position: relative;
    top: -1vh;
}

.pres{
    display: flex;
    position: relative;
    left: -6vw;
    text-align: left;
    height: 195vh;
}
.phones div{
    position: relative;
}

.phones :nth-child(2){
    top: -50vh;
    left: 15vw;
}

.phones :last-child{
    top: -88vh;
    left: 5vw;
}

.phones img{
    width: 18.75vw;
}

.presList{
    position: relative;
    top: -3vh;
    padding-left: 17vw;
}

.lItem1{
    margin-bottom: 3.9vh;
}

.lItem2{
    width: 29vw;
}

.ul1{
    display: flex;
}

.ul1:nth-child(n+2){
    margin-top: 4.5vh;
}

.ul1 img{
    width: 4.0972vw;
    height: 7.19512vh;
    padding-right: 3vw;
}

.listText1 :first-child{
    margin-top: 1vh;
}

.access3{
    position: relative;
    top: -15vh;
    
}

.access3 p{
    color: #FAF3DE;
    background-color: #094972;
    width: 17vw;
    border-radius: 3px;
    padding: .6vh;
}

.glass1{
    position: relative;
    z-index: -1;
    left: -10vw;
    top: -210vh;
    width: 95vw;
    height: 203vh;
    background: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(15px);
    border-radius: 30px;
}

.border{
    border: 1px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.12) 100%);
    border-radius: 30px;
}

.community{
    color: #FAF3DE;
}

.mask{
    width: 83.6527vw;
    height: 32.29268vh;
    overflow: hidden;
}

.content img{
    position: relative;
    width: 27.6527vw;
    left: -1vw;
    top: -1vh;
}

.ul2{
    display: flex;
}

.listText2{
    text-align: left;
    margin-left: 3vw;
}

.listText3{
    text-align: left;
}

.fix{
    width: 30vw;
    margin-right: 2vw;
}

.founders{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
}

.founderImgs{
    justify-content: space-between;
    display: flex;
}

.founder img{
    width: 14.58vw;
}
/* text adjustments */

.forming, .meet, .medkit{
    font-size: calc(100vw/28.801);
}

.medkit2, .access2, .info, .internet, .rightside{
    font-size: calc(100vw/72.04610);
}

.even, .top, .lItem2{
    font-size: calc(100vw/45);
}

.more{
    font-size: calc(100vw/120.00048000192);
}

.read{
    font-size: calc(100vw/80);
}

.bot, .access3{
    font-size: calc(100vw/57.60036864235931);
}

.safety, .manage, .healthy, .lItem1, .keep{
    font-size: calc(100vw/36);
}

@media screen and (max-width: 375px){

    .backImg{
        visibility: hidden;
    }

    .backImg2{
        visibility: visible;
    }

    #c1{
        visibility: hidden;
    }
    #c2{
        visibility: hidden;
    }
    #c3{
        visibility: hidden;
    }
    #c4{
        visibility: hidden;
    }

    .read{
        visibility: hidden;
    }

    .mags{
        visibility: hidden;
    }

    .more{
        visibility: hidden;
    }

    .phone3{
        visibility: hidden;
    }

    .access3{
        visibility: hidden;
    }

    .girl img{
        width: 40vw;
        height: auto;
    }
}